.dashboard{
    width: 90%;
    margin: 0 auto;
}

.Bar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.Items{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo{
    font-size: 3rem;
}

.Items a{
    color: #262560 ;
}

.Home{

}

.Dash{
    background: #efeef3;
    display: flex;
    
}

.Dash-item{
    margin: 3%;
}

.list{
    width: 20%;
    
}

.listItem{
    box-sizing: content-box;
    border: 1px solid #efeef3;
    background: #262560;
    color: #bbc1de;
}

.listItem h3{
    margin: 10%;
}

.kpis{
    width: 65%;
}

.kpis h1{
    margin: 2% 4%;
    color: #262560;
}

.kpi-cards{
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}

.kpi-card{
    width: 250px;
    height: 250px;
    background: white;
    text-align: center;
    margin: 4%;
    color: #91929e;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

